[Desktop Entry]
Name=ced
Comment=text editor
Exec=ced -o "%U"
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;application/x-zerosize
Categories=Qt;Utility;TextEditor;
Actions=new-window;new-document;

